.search {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  padding: var(--rectangle-padding);
  color: var(--text);

  &:active, &:focus {
    border-color: var(--accent-border);
  }
}
